# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip

# Logs
*.log

# VS Code
.vscode/

# Mac files
.AppleDouble
.LSOverride
